body{
    background-color: tan;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 100px;
    max-width: 1000px;

    table, th, td {
        border: 1px solid;
    }
}

h1 { 
    background-color: white;
}