body{
    background-color: tan;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1500px;
    h1 { 
        background-color: #fff8e7;
        margin: 5px 0px;
    }
    div.nav nav{
        border: 1px solid;
        margin: auto;
    }

    .nav li{
        background-color: #fff8e7;
        border: 1px solid;
        margin: 1px 10px;
    }

    th, td{
        max-width: fit-content;
    }
    
    table{
        width: 100%;
        
    }
    table, th, td {
        border: 1px solid;
        border-collapse: collapse;
        text-align: center;
        justify-content: center;
        width: fit-content;
        min-width: 10px;
        table-layout: auto;
    }
    th input{
        text-align: center;
    }
    .mb-3{
        max-width: 500px;
        margin: 20px auto;
        padding: 20px 0px;
        border: 1px solid;
        padding: 10px 10px;
        background-color:#fff8e7;
        label{
            margin: 10px 0px;
        }

        button{
            margin: 10px auto;
        }
    }
    div.tableFilter nav{
        text-align: center;
        background: #fff8e7;
        width: fit-content;
        margin: 20px auto;
        border: 1px solid;
        li{
            padding: 0px 10px;
            margin: 0px 10px;
            border: 1px solid;
            border-collapse: separate;
        }
    }
}

