body{
    background-color: tan;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 100px;
    max-width: 1000px;

    h1 { 
        background-color: white;
        margin: 5px 0px;
    }

    table, th, td {
        border: 1px solid;
        
    }
}

