body{
    background-color: tan;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 100px;
    max-width: 1000px;

    h1 { 
        background-color: white;
        margin: 5px 0px;
    }

    table, th, td {
        border: 1px solid;
        
    }
    
    .mb-3{
        max-width: 500px;
        margin: 20px auto;
        padding: 20px 0px;

        label{
            margin: 10px 0px;
        }

        button{
            margin: 10px auto;
        }
    }
}

