{%extends "index.html"%}

{%block body%}
<div class="tableFilter">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid"> 
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">      
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" onclick="loadData('http://localhost:5000/data', document.querySelector('table'))">Asset Summaries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadData('http://localhost:5000/hours', document.querySelector('table'))">Asset Hours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadData('http://localhost:5000/data/faults', document.querySelector('table'))">Asset Faults</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#" tabindex="1" ></a>
                </li>-->
            </ul>
            </div>
        </div>
    </nav>
</div>
    
    <div class="table-responsive">
    <table class="table table-striped table-hover table-borderless table-primary align-middle">
        <!-- Create a placeholder for when data is not shown or table is empty -->
        <script>
            table = document.querySelector("table")
            let tableHead = table.querySelector("thead")
            
            if(!tableHead){
                tableHead = document.createElement("thead")
                const rowEl = document.createElement("tr")
                table.insertBefore(tableHead, table.firstChild)
                tableHead.innerHTML= "<tr></tr>"
                const placeholder_head = document.createElement("th")

                placeholder_head.textContent = "No data selected..."
                
                rowEl.appendChild(placeholder_head)
                tableHead.querySelector("tr").appendChild(rowEl)
                
            }
        </script>
    </table>
</div>
{%endblock%}