<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/styles.css">
        <script src="../static/script.js" ></script>
        <title>Field Machine Dashboard</title>
    </head>
    <body>

        <div class="nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{url_for('main.index')}}">Home</a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            {%if not current_user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" tabindex="1" href="{{url_for('auth.login')}}">Login</a>
                                </li>
                            {%endif%}
                            {%if current_user.username == 'admin' %}
                                <li class="nav-item">
                                    <a class="nav-link" tabindex="1" href="{{url_for('main.admin_dashboard')}}">Admin Dashboard</a>
                                </li>
                            {%endif%}
                            {%if current_user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" tabindex="1" href="{{url_for('main.dashboard')}}">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" tabindex="1" href="{{url_for('auth.logout')}}">Logout</a>
                                </li>
                            {%endif%}

                            {%block adminNav%}
                            {%endblock%}


                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        {%block body%}

        {%endblock%}
        
    </body>
</html>