{%extends "index.html"%}

{%block body%}
<div class="mb-3">
    <form>
        <label for="uname" class="form-label"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" class="form-control" required>

        <label for="psw" class="form-label"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" class="form-control" required>

        <button type="submit">Login</button>
    </form>
    <a class="nav-link" tabindex="1" href="{{url_for('register')}}">Create An Account Here</a>
</div>  
{%endblock%}

